#navbarNavDropdown {
    flex-direction: row-reverse;
}

header {
    padding: 5px;
    font-size: 26px;
    font-weight: 700;
    color: navy;
}

.navContianer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#navTitle {
    display: flex;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navitems {
    display: flex;
}

.navitems a {
    margin: 10px;
    text-decoration: none;
}